# store
sqlalchemy~=2.0.42
PyMySQL~=1.1.1

# utils
markdown~=3.8.2
Pygments~=2.19.2
pytz>=2025.2
jinja2~=3.1.6
psutil~=6.0.0
unicategories~=0.1.2
emoji~=2.14.1

# logic
pyzmq>=27.0.1
cryptography>=45.0.6

# api
sanic~=24.12.0
sanic-ext~=24.12.0
httpx[http2]~=0.28.1
pyjwt~=2.10.1
websockets>=11.0 # websockets.connections renamed to websockets.protocol since then

# admin
flask~=3.1.1
flask-sqlalchemy~=3.1.1
flask-admin~=1.6.1
Flask-Migrate~=4.1.0
wtforms~=3.1.2
markupsafe~=3.0.2
gevent>=25.5.1