{% extends 'admin/master.html' %}

{% block body %}
    <form action="#" method="post">
        <p>
            <label for="uids">UIDs:</label>
            <input name="uids" id="uids" required placeholder="e.g., 1 2 3" style="width: 300px">
        </p>
        <p>
            <label for="group">To Group:</label>
            <select name="group" id="group" required>
                <option value=""></option>
                {% for group in groups %}
                    <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
        </p>
        <br>
        <p>
            <button class="btn btn-primary" type="submit">Move Group</button>
        </p>
    </form>
{% endblock %}